@font-face {
  font-family: roboto;
  src: url(./Roboto-Bold.ttf);
}

.app {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 35% 50px;
  background-color: #d88b79;
  font-family: roboto;
  font-size: 20px;
}

.content {
  margin-top: 50px;
  text-align: center;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    padding: 10px;
  }
}
